@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&display=swap');

@import 'tailwindcss';

@theme {
  /* Cores */
  --color-primary: #001f3e;
  --color-secondary: #97f406;
  --color-background: #f3fce980;
  --color-accent: #1ba699;
  --color-text: #001d35;
  --color-light-accent: #d1edeb;

  /* Fontes */
  --font-sora: "Sora", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-ibmplex: "IBM Plex Mono", sans-serif;

  /* Marquee */
  --animate-marquee: marquee 18s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}